@model IEnumerable<TravelRevewApp.Models.Review>

@{
    ViewBag.Title = "Index";
}
<div class="row index">
    <div class="col-sm-4 col-md-4"></div>
    <div class="col-sm-4 col-md-4">
        <h2 class="review-index">
            Your Opinion Count
        </h2>
        <p class="index">
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
    <div class="col-sm-4 col-md-4"></div>
</div>

<div class="row">
    <div class="col">
        <div class="jumbotron review-index">
        </div>
    </div>
</div>

<div class="row review-index">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail review-index">
                <div class="caption">
                    <h2>@*@Html.DisplayNameFor(model => model.Name) :*@ @Html.DisplayFor(modelItem => item.Name)</h2>
                    <h3>@*@Html.DisplayNameFor(model => model.Category.Type) :*@ @Html.DisplayFor(modelItem => item.Category.Type)</h3>
                    <h3>@Html.DisplayNameFor(model => model.Rating) : @Html.DisplayFor(modelItem => item.Rating)</h3>
                    <h3>@Html.ActionLink("Details", "Details", new { id = item.ReviewID })</h3>
                </div>
            </div>
        </div>
    }
</div>


